In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
fps = [
    '../result/result_other_methods.csv',
    '../result/result_narti.csv'
]

df = pd.concat([pd.read_csv(fp) for fp in fps])

In [8]:
df

,Unnamed: 0,method,ISO score,GED score,IM score,ARI,GRI,PDT score,type,data,source
0,0,monocle,0.0,0.333333,0.000000,0.533390,0.472904,0.534567,non-UMI,aging,real
1,1,paga,0.0,0.333333,0.000000,0.933560,0.815907,0.974953,non-UMI,aging,real
2,2,slingshot,0.0,0.333333,0.000000,0.686916,0.713025,0.766195,non-UMI,aging,real
3,3,monocle,0.0,0.000000,0.000000,0.500365,0.494744,0.006786,non-UMI,bifurcating_1,dyngen
4,4,paga,0.0,0.428571,0.000000,0.678628,0.807311,0.807322,non-UMI,bifurcating_1,dyngen
...,...,...,...,...,...,...,...,...,...,...,...
21,86,NARTI,0.0,NaN,0.475202,0.587543,0.124169,0.538594,NaN,planaria_full,real
22,90,NARTI,0.0,0.666667,1.000000,0.872547,0.512612,0.839377,NaN,planaria_muscle,real
23,94,NARTI,0.0,0.571429,0.460488,0.645803,0.205438,0.665894,NaN,tree,our model
24,98,NARTI,0.0,0.100000,0.000000,0.592000,0.338134,0.593375,NaN,trifurcating_1,dyngen
25,102,NARTI,0.0,0.500000,0.643260,0.570353,0.328807,0.592718,NaN,trifurcating_2,dyngen